<div *ngIf="!loading" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only"></span>
  </div>
</div>

<div class="row p-3 mt-3">
  <div class="col text-center admin">
    Bienvenido a la vista de Administrador!
    <span>{{usuarioSrv.usuario.nombre_completo}}</span>

  </div>


</div>



<h2 class="mt-3">Historial de Transferencias</h2>
<div class="container card-body mt-5">
  <div class="row">
    <div class="col">
     <table class="table">
       <thead class="thead-dark">
         <tr>
           <th scope="col">id</th>
           <th scope="col">id del usuario </th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let usuario of usuarios">
           <td>{{usuario._id}}</td>
           <td>{{usuario._no_id_usuario}}</td>
           <td>
            <a class="btn btn-info" [routerLink]="['/transferenciasAdmin',usuario._id]">Ver Detalle</a>
          </td>
         </tr>

       </tbody>
     </table>

    </div>
  </div>
</div>
