<div class="row p-3">
  <div class="col">
    Bienvenido!
   <h2><span>{{usuarioSrv.usuario.nombre_completo}}</span></h2>
  </div>
</div>

<div *ngIf="!loading" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only"></span>
  </div>
</div>


<h2>Historial de Transferencias</h2>
<div class="container card-body mt-5">
  <div class="row">
    <div class="col">
     <table class="table">
       <thead class="thead-dark">
         <tr>
           <th scope="col">id</th>
           <th scope="col">Monto anterior</th>

           <th scope="col">Monto Transferido</th>
           <th scope="col">Monto despues</th>
           <th scope="col">Cuenta Origen</th>
           <th scope="col">Cuenta Destino</th>

           <th scope="col">Tipo de Accion</th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let transferencia of transferencias">
           <td>{{transferencia._id}}</td>
           <td>{{transferencia.monto_anterior}}</td>
           <td>{{transferencia.monto_transferido}}</td>
           <td>{{transferencia.monto_despues}}</td>

           <td>{{transferencia.cuenta_origen}}</td>
           <td>{{transferencia.cuenta_destino}}</td>
           <td *ngIf="idCuentaUsuario == transferencia.cuenta_origen">Debito</td>
           <td *ngIf="idCuentaUsuario == transferencia.cuenta_destino">Credito</td>
         </tr>

       </tbody>
     </table>

    </div>
  </div>
</div>
